:root {
  --base: #0f82a1;
  --spacing: 10px;
  --blur: 0px;
  --gray: 0%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-weight: inherit;
  font-size: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  background-image: linear-gradient(
    to left top,
    #b7ede2,
    #9be6d4,
    #80dfc4,
    #64d7b2,
    #47cf9e,
    #2dc4a3,
    #13b8a6,
    #00aca7,
    #0097ac,
    #2281a5,
    #456a93,
    #545479
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.hl {
  color: var(--base);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

body {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  color: white;
  font-weight: 100;
}

.img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur)) grayscale(var(--gray));
}

.heading {
  margin: 10px auto;
  color: white;
  align-items: center;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  padding-top: 10px;
}

.main-heading {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  margin-top: 10px;
}

.controls {
  margin: 2%;
  display: flex;
  justify-content: center;
}

input {
  width: 10%;
  margin: 1%;
}
