:root {
  --font-color: #ffffff;
  --background: #1f1f1f;
}

* {
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Amatic SC", cursive;
  font-size: 20px;
  font-weight: 200;
  color: var(--font-color);
  background-color: var(--background);
}

.heading {
  position: absolute;
  top: 10%;
  left: 14%;
  z-index: 1;
  color: var(--font-color);
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  text-align: center;
}

.inbox {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 30%;
  height: 60vh;
  align-items: center;
  background-color: azure;
  border: 3px solid #a0a0af;
  font-weight: normal;
  color: black;
  font-size: 1.5em;
  box-shadow: 5px 5px 20px white;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
  border: 1px solid black;
  padding-left: 5px;
}
