:root {
  --blur: 5px;
  --grayscale: 100%;
  --brightness: 50%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-weight: inherit;
  font-size: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.623)),
    url(../assets/images/drums.jpg);
  position: fixed;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(var(--blur)) grayscale(var(--grayscale))
    brightness(var(--brightness));
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -10px; /* this will do the trick */
  z-index: -3;
}

.heading {
  color: white;
  align-items: center;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  padding-top: 10px;
}

.main-heading {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  margin-top: 10px;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.key {
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px #000;
  color: white;
  font-family: "Righteous", cursive;
  text-align: center;
  width: 100px;
  transition: all 0.06s ease;
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
  margin: 1rem;
  border-radius: 5px;
  border: 2px solid #440000;
  opacity: 70%;
}

.playing {
  transform: scale(1.1);
  opacity: 85%;
  border-color: orangered;
  box-shadow: 0 0 10px orangered;
}
kbd {
  display: block;
  font-size: 2.5rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: orangered;
}
