* {
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", cursive;
}
body {
    overflow: hidden;
}

.bg-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(4, 37, 112);
    background: linear-gradient(
        90deg,
        rgb(0, 35, 117) 0%,
        rgb(122, 1, 141) 100%
    );
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

#bg-container {
    transition: all 0.5s;
}

.bg-logo {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.9;
    width: 55%;
    height: 55%;
    z-index: -1;
}

.bg-logo::before {
    content: "";
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.bg-logo::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 100%;
    background: radial-gradient(transparent, rgba(255, 255, 255, 0.6));
    border-radius: 50%;
    opacity: 0.8;
    animation: sunbeams 4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
        0 0 40px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4),
        0 0 80px rgba(255, 255, 255, 0.2);
    z-index: -2;
}

@keyframes sunbeams {
    0% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
            0 0 40px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4),
            0 0 80px rgba(255, 255, 255, 0.2);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.01);
        opacity: 0.8;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
            0 0 60px rgba(255, 255, 255, 0.6), 0 0 80px rgba(255, 255, 255, 0.4),
            0 0 100px rgba(255, 255, 255, 0.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
            0 0 40px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4),
            0 0 80px rgba(255, 255, 255, 0.2);
    }
}
/* audio settings */
.audio-controls {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    width: 1.5vw;
    height: 15vh;
    right: 2%;
    top: 1%;
}

@media (max-width: 768px) {
    .mute,
    .volume {
        box-shadow: rgb(38, 57, 77) 0 3px 5px -1px;
    }
}

@media (max-width: 480px) {
    .mute,
    .volume {
        box-shadow: none;
    }
}
.mute {
    width: 2em;
    height: 2em;
    cursor: pointer;
    background-color: rgb(0, 35, 117);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    .mute-icon {
        margin-left: 7px;
        display: block;
        background-color: #ddd;
        width: 0.5em;
        height: 0.5em;
        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: transparent transparent transparent #ddd;
            border-width: 10px 7px 10px 7px;
            top: 50%;
            left: 65%;
            transform: translate(-50%, -50%);
        }
        &:before {
            content: "";
            position: absolute;
            top: 30%;
            left: 5%;
            transform: translate(-50%, -50%);
            transform: rotate(-130deg);
            border-radius: 0 50px 0 0;
            width: 7px;
            height: 7px;
            border-color: #ddd;
            border-width: 7px 7px 0 0;
            border-style: double;
            transition: all 0.2s ease;
        }
    }
}

.muted {
    transition: all 0.2s ease;
    .mute-icon:before {
        margin-left: 0;
        border: none;
    }
}

.volume {
    -webkit-appearance: none;
    box-shadow: 0 0 7px 1px rgba(60, 60, 60, 0.4);
    background-image: linear-gradient(to right, rgb(0, 35, 117) 30%, #ddd 0%);
    height: 2em;
    border-radius: 5em;
    width: 4em;
    transform: rotate(270deg);
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: transparent;
    width: 0.1px;
    height: 0.1px;
}

.hide {
    opacity: 0;
    transition: opacity 0.3s;
}

/* intro play btn */

.intro-btn {
    cursor: pointer;
    position: absolute;
    width: 27.7%;
    height: 55%;
    border-radius: 50%;
    background: #113285;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.intro-btn::before,
.intro-btn::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.intro-btn::before {
    border-top: 3.5vw solid transparent;
    border-bottom: 3.5vw solid transparent;
    border-left: 6.5vw solid #ddd;
}

.intro-btn::after {
    content: "PLAY";
    color: #ddd;
    font-size: 3vw;
    top: 70%;
}

.intro-txt {
    position: absolute;
    left: 22.5%;
    top: 40%;
    width: 67%;
    height: 26%;
    font-size: 2.8vw;
    color: #fff;
    letter-spacing: 0.7vw;
}

.blinking {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,
    50% {
        opacity: 1;
    }
    51%,
    100% {
        opacity: 0;
    }
}

/*  */

/* figures shape */

#start-button {
    display: none;
}

.start-btn {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translateX(-50%);
}

#next-button {
    display: none;
}

.next-btn {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translateX(-50%);
}

.outer {
    background-color: lightblue;
    clip-path: polygon(15% 0, 85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%);
    cursor: pointer;
}

.inner {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 94%;
    background: #113285;
    background: -webkit-linear-gradient(to top, #113285, #281b62);
    background: linear-gradient(to top, #113285, #281b62);
    clip-path: polygon(15% 0, 85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    color: white;
}

.btn:active .inner {
    background: rgb(180, 117, 0);
}
.choice .inner {
    background: rgb(255, 166, 0);
}

.correct .inner {
    background: rgb(0, 165, 0);
}

.false .inner {
    background: rgb(185, 0, 0);
}

.btn {
    width: 35vw;
    height: 15vh;
}

.btn > .inner {
    position: relative;
    top: 47%;
}

/* question controls container */

.controls {
    width: 100vw;
    height: 100vh;
}

#question-container {
    display: none;
    /* change display property*/
    transition: all ease 3.5s;
    cursor: default;
    font-size: 6px;
}

.question {
    position: absolute;
    width: 75vw;
    height: 20vh;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.question-text {
    margin-top: 1%;
    width: 70%;
    height: 90%;
}

.btn-field {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 30vh;
}

.btn-grid {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 76vw;
    height: 25vh;
}

.btn-grid > .btn {
    width: 37vw;
    height: 15vh;
}

#buttons-field {
    display: none;
}

.answer-text {
    position: absolute;
    width: 70%;
    height: 90%;
    text-align: left;
    font-size: 0.9rem;
    margin-top: 1%;
}
