:root {
  --background-start: #aca;
  --opacity: 50%;
  --grayscale: 50%;
  --text-color: #000000;
}

* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.bg {
  background-color: var(--background-start);
  position: fixed;
  filter: grayscale(var(--grayscale)) opacity(var(--opacity));
  z-index: -3;
  width: 100%;
  height: 100vh;
  transition: 3s ease-in-out;
}

html {
  font-weight: 200;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  align-items: center;
  color: var(--text-color);
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7),
    0 0 14px rgba(255, 255, 255, 0.45);
}

input,
textarea,
select {
  font-family: inherit;
}

.heading {
  z-index: 0;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.main-heading {
  margin: 1%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
}

.search-form {
  max-width: 400px;
  margin: 50px auto;
  font-family: "Xanh Mono", monospace;
  font-weight: 400;
  position: relative;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  padding: 20px;
}

input::-webkit-input-placeholder {
  font-family: "Xanh Mono", monospace;
}

input:-ms-input-placeholder {
  font-family: "Xanh Mono", monospace;
}
input:-moz-placeholder {
  font-family: "Xanh Mono", monospace;
}

input::-moz-placeholder {
  font-family: "Xanh Mono", monospace;
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #c0c0c0;
  width: 120%;
  left: -17%;
  position: relative;
  top: 5px;
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.22), inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
}

.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

span.population {
  font-size: 15px;
}

.hl {
  background: #ffc600;
}
