:root {
  --font-color: #ffffff;
  --background: #000000;
}

* {
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Amatic SC", cursive;
  font-size: 20px;
  font-weight: 200;
  color: var(--font-color);
  background-color: var(--background);
}

.heading {
  position: absolute;
  top: 30%;
  left: 11%;
  z-index: 1;
  color: var(--font-color);
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  text-align: center;
}

/* basic settings */

.make-green {
  background-color: #fff;
  border: 5px solid silver;
  border-radius: 5px;
  position: absolute;
  top: 25%;
  left: 35%;
  width: 30%;
  height: 30vh;
  color: #000000;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  font-size: 2em;
  filter: none;
  z-index: 2;
  opacity: none;
}

.canvas {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  filter: opacity(50%);
  z-index: 0;
}

/* starting animation */

#disappear {
  animation-name: disappear;
  animation-duration: 4s;
  transition: ease-in-out;
}

@keyframes disappear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#appear {
  animation-name: appear;
  animation-duration: 6s;
  transition: ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*  */
